<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="row" id="gallery">
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "d1.jpg", class: "img-fluid" %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "d2.jpg", class: "img-fluid" %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "d3.jpg", class: "img-fluid" %>
      </div>
    </div>
    <div class="row" id="gallery">
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "d4.jpg", class: "img-fluid" %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "d5.jpg", class: "img-fluid" %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "d6.jpg", class: "img-fluid" %>
      </div>
    </div>
    <div class="row" id="gallery">
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "d7.jpg", class: "img-fluid" %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "d8.jpg", class: "img-fluid" %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "i1.jpg", class: "img-fluid" %>
      </div>
    </div>
    <div class="row" id="gallery">
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "i2.jpg", class: "img-fluid" %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "saf.jpg", class: "img-fluid" %>
      </div>
      <div class="col-12 col-md-4 col-sm-4">
        <%= image_tag "bdo1.jpg", class: "img-fluid" %>
      </div>
    </div><!-- row -->
  </div><!-- end container -->
</section>
