<section class="userinfo" id="userinfo">
  <p id="notice"><%= notice %></p>

  <div class="card border-dark">
    <div class="card-header border-dark">
      Master User List
    </div>
    <div class="card-header border-dark">
      <%= link_to 'Create New User', new_user_path, class:'btn btn-dark' %>
    </div>
    <% @users.each do |user| %>
      <div class="card-body bg-light">
          First Name: <%= user.first_name %>
          <br />
          Last Name: <%= user.last_name %>
      </div>
      <div class="card-footer border-dark">
        <%= link_to 'Show', user, class:'btn btn-dark' %>
        <%= link_to 'Edit', edit_user_path(user), class:'btn btn-dark' %>
        <%= link_to 'Destroy', user, class:'btn btn-dark', method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
  </div>
</section>
