<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <section class="product" id="product">
    <div class="container">
      <div class="row"
      <div class="container-notices">
        <% if notice %>
          <p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p id="alert" class="alert alert-warning" role="alert"><%= alert %></p>
        <% end %>
      </div>
      <div class="row">
        <div class="col-4 col-md-4 col-sm-4">
          <div class="card bg-light mb-3" id="productsform">
            <%= image_tag(@product.image_url, class: "img-fluid") unless @product.image_url.nil? %>
            <div class="field">
              <%= form.label :name %>
              <%= form.text_field :name %>
              <br>
              <%= form.label :description %>
              <%= form.text_area :description %>
              <br>
              <%= form.label :image_url %>
              <%= form.text_field :image_url %>
              <br>
              <%= form.label :price %>
              <%= form.text_field :price %>
              <br>
              <%= form.label :colour%>
              <%= form.text_field :colour%>
              <br>
              <%= form.submit 'Update Product', class:"subbu btn btn-dark" %>
              <br>
              <%= link_to 'Show', @product, class: "btn btn-dark" %>
              <br>
              <%= link_to 'Back', products_path, class: "btn btn-dark" %>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
